body,
ul,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
span,
i,
li,
u,
img,
a,
input {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	outline: 0;
	color: #333;
	font-style: normal;
	font-size: 12px;
	list-style: none;
	font-family: "宋体";
}

/* 头部横条 */
.top_box {
	width: 100%;
	height: 36px;
	background: #F1F1F1;
	padding: 0;
}

.top {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.top_left {
	width: 250px;
	height: 36px;
	position: relative;
}

.top_left>.a1 {
	width: 48px;
	height: 36px;
	padding-left: 28px;
	display: block;
	line-height: 36px;
}

.top_left>.a1 {
	background: url(./content/images/index/index11_03.png) no-repeat 0 2px;
}

.top_box .top .top_left>a:hover {
	text-decoration: none;
	color: #8f1d78;
}

.top_left .s_gun,
.top_right .s_gun {
	border-left: 1px solid #DDDDDD;
	display: block;
	height: 14px;
	position: absolute;
	left: 90px;
	top: 11px;
}

.top_left>.phone_app {
	width: 130px;
	position: relative;
	z-index: 1000;
}

.top_left>.a2 {
	position: absolute;
	right: 65px;
	top: 5px;
	width: 56px;
	height: 36px;
	line-height: 29px;
	display: block;
	padding-left: 30px;
	margin-left: 5px;
}

.top_left>.a2 {
	background: url(./content/images/index/index12_07.png) no-repeat 0 0px;
}

.top_left .b1 {
	background: url(./content/images/index/index19_03.png) no-repeat 0px 0px;
	display: block;
	height: 36px;
	width: 14px;
	position: absolute;
	right: -5px;
	top: 12px;
}
.top_left>.a2:hover{
	background-color: #ffffff;
	box-shadow: 3px 3px 10px #444;
	height: 141px;
	width: 85px;
	left: 94px;
}
.top_left>.a2:hover .b1{
	display: none;
}
.top_left>.a2:hover .ewm{
	display: block;
}
.top_left .ewm{
	width: 85px;
	height: 100px;
	z-index: 1100;
	position: absolute;
	left: 5px;
	top: 27px;
	display: none;
}
.top_left .ewm .a2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 128px;
	top: -24px;
	background: url(./content/images/index/index12_07.png)  no-repeat 0px 0px;
}
.top_left .ewm .b2{
	background: url(./content/images/index/index18_03.png) no-repeat 0px 0px;
	display: block;
	height: 36px;
	width: 14px;
	position: absolute;
	right: 0px;
	top: -15px;
}

.top>.top_right {
	position: absolute;
	right: 0;
	top: 0;
	width: 450px;
	height: 36px;
}

.top_right>ul {
	display: flex;
	justify-content: space-between;
	line-height: 36px;
	position: relative;
}

.top_right>ul>.l2>a {
	color: #ff0000;
}

.top_right>ul>.l3>a:hover,
.top_right>ul>.l4>a:hover,
.top_right>ul>.l5>a:hover {
	color: #8F1D78;
}

.top_right>ul>.l3>.s1 {
	position: absolute;
	left: 240px;
}

.top_right>ul>.l4>.s2 {
	position: absolute;
	left: 315px;
}

.top_right>ul>.l5>.s3 {
	position: absolute;
	left: 390px;
}

/* 搜索条 */
.select {
	width: 1200px;
	height: 116px;
	margin: 0 auto;
	position: relative;
}

.select>a:first-child {
	display: block;
	width: 326px;
	height: 100px;
	padding-top: 14px;
}

/* .select>div{border: 1px solid #;} */
.select>input {
	width: 494px;
	height: 34px;
	border: 2px solid #000;
	position: absolute;
	top: 40px;
	right: 180px;
	padding-left: 5px;
	line-height: 34px;
	border-color: #4A1467;
}

.select button {
	background: url(./content/images/index/index13_13.png) no-repeat center center;
	width: 48px;
	height: 34px;
	position: absolute;
	top: 40px;
	right: 180px;
	border-color: #4A1467;
	background-color: #4A1467;
}

.select button:focus {
	text-decoration: none;
	outline: 0;
}

.select>a:last-child {
	display: block;
	width: 113px;
	height: 34px;
	position: absolute;
	top: 40px;
	right: 0px;
	border: 1px solid #4A1467;
	background: url(./content/images/index/index14_15.png) no-repeat 16px 5px;
	background-color: #4A1467;
	padding-left: 43px;
	line-height: 34px;
	color: #fff;
}

.select>a:last-child>b {
	color: #fff;
	padding: 0 5px;
}

/* 轮播头部 */
/* 中部左侧导航条 */
.lunbao_top {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	position: relative;
}

.lunbao_top_left {
	display: flex;
	flex-direction: column;
	width: 190px;
	z-index: 1;
}

.lunbao_top_left>ul>.daohang_0 {
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-weight: bold;
	background: #4A1467;
	color: #fff;
}

.daohang_1,
.daohang_2,
.daohang_3,
.daohang_4,
.daohang_5,
.daohang_6,
.daohang_7,
.daohang_8,
.daohang_9,
.daohang_10,
.daohang_11,
.daohang_12 {
	background-color: #333333;
	color: #FFF;
	height: 38px;
	width: 175px;
	padding-left: 15px;
	display: block;
	line-height: 38px;
	text-align: center;
	display: block;
}

.daohang_1:hover,
.daohang_2:hover,
.daohang_3:hover,
.daohang_4:hover,
.daohang_5:hover,
.daohang_6:hover,
.daohang_7:hover,
.daohang_8:hover,
.daohang_9:hover,
.daohang_10:hover,
.daohang_11:hover,
.daohang_12:hover {
	background-color: #8F1D78;
}

/* 悬停出现的列表 */
/* 第一个列表   个人彩护 */
.lunbao_top .lunbao_top_left  .dh_1{
		position: absolute;
    width: 600px;
    height: 454px;
    left: 190px;
    top: 44px;
    z-index: 99999;
    background-color: #fff;
    line-height: 25px;
    color: #999;
    border: 1px solid #8F1D78;
		border-left: none;
		display: none;
}
.lunbao_top .lunbao_top_left .dh_1 a{
	color: #9fa0a0;
    white-space: nowrap;
    display: block;
    font-size: 12px;
    width: 65px;
    line-height: 23px;
}

.lunbao_top .lunbao_top_left .dh_1 .liebiao{
		float: left;
    width: 340px;
    height: 415px;
    overflow: hidden;
    padding: 20px;
    padding-right: 0px;
    padding-top: 0px;
}

.lunbao_top .lunbao_top_left .dh_1 .liebiao .lb_right{
		float: left;
    width: 66px;
    margin-right: 19px;
}

.lunbao_top .lunbao_top_left .dh_1 .liebiao .lb_right .biaoti{
	font-size: 12px;
	font-weight: bold;
	color: #727171;
	border-bottom: 1px dotted #727171;
	padding-top: 20px;
}
.lunbao_top .lunbao_top_left  .dh_1 .liebiao .lb_right .biaoti a{
	font-size: 12px;
	font-weight: bold;
	color: #727171;
}

.lunbao_top .lunbao_top_left .daohang_1 .dh_1 .pic{
		width: 220px;
    height: 454px;
    float: right;
}
.lunbao_top .lunbao_top_left .daohang_1 .dh_1 .pic a{
		display: block;
    float: left;
    width: 170px;
		height: 99px;
		margin-right: 30px;
}
.lunbao_top .lunbao_top_left .daohang_1 .dh_1 .pic a img{
		display: block;
    width: 220px;
    height: 454px;
}
.lunbao_top .lunbao_top_left .daohang_1:hover .dh_1,
.lunbao_top .lunbao_top_left .daohang_2:hover .dh_2,
.lunbao_top .lunbao_top_left .daohang_3:hover .dh_3,
.lunbao_top .lunbao_top_left .daohang_4:hover .dh_4,
.lunbao_top .lunbao_top_left .daohang_5:hover .dh_5,
.lunbao_top .lunbao_top_left .daohang_6:hover .dh_6,
.lunbao_top .lunbao_top_left .daohang_7:hover .dh_7
{
	display: block;
}

/* 家居百货 */

.lunbao_top .lunbao_top_left  .dh_2{
	top: 44px;
	width: 325px;
	display: none;
}
.lunbao_top .lunbao_top_left  .dh_3,
.lunbao_top .lunbao_top_left  .dh_4,
.lunbao_top .lunbao_top_left  .dh_5,
.lunbao_top .lunbao_top_left  .dh_6,
.lunbao_top .lunbao_top_left  .dh_7
{
	display: none;
}
.lunbao_top .lunbao_top_left  .dh_5{
	width: 410px;
}


































































.daohang_1>a,
.daohang_2>a,
.daohang_3>a,
.daohang_4>a,
.daohang_5>a,
.daohang_6>a,
.daohang_7>a,
.daohang_8>a,
.daohang_9>a,
.daohang_10>a,
.daohang_11>a,
.daohang_12>a {
	display: block;
	font-size: 14px;
	color: #fff;
	position: relative;
	left: -10px;
}

.lunbao_top_left>ul>.daohang_1>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px 0px;
}

.lunbao_top_left>ul>.daohang_2>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -38px;
}

.lunbao_top_left>ul>.daohang_3>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -76px;
}

.lunbao_top_left>ul>.daohang_4>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -111px;
}

.lunbao_top_left>ul>.daohang_5>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -151px;
}

.lunbao_top_left>ul>.daohang_6>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -191px;
}

.lunbao_top_left>ul>.daohang_7>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -229px;
}

.lunbao_top_left>ul>.daohang_8>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -266px;
}

.lunbao_top_left>ul>.daohang_9>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -304px;
}

.lunbao_top_left>ul>.daohang_10>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -343px;
}

.lunbao_top_left>ul>.daohang_11>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -380px;
}

.lunbao_top_left>ul>.daohang_12>a {
	background: url(./content/images/index/index8_29.png) no-repeat 10px -419px;
}

.daohang_1>a>span,
.daohang_2>a>span,
.daohang_3>a>span,
.daohang_4>a>span,
.daohang_5>a>span,
.daohang_6>a>span,
.daohang_7>a>span,
.daohang_8>a>span,
.daohang_9>a>span,
.daohang_10>a>span,
.daohang_11>a>span,
.daohang_12>a>span {
	position: absolute;
	right: 10px;
	color: #999999;
	font-size: 14px;
}

/* 轮播上部中间导航 */
.lunbao_top_center {
	width: 510px;
	height: 44px;
	margin-left: 35px;
	color: #333;
	line-height: 44px;
	font-weight: bold;
	position: relative;
}

.lunbao_top_center>ul {
	display: flex;
	justify-content: space-around;
}

.lunbao_top_center>ul>li>a {
	display: block;
	font-size: 14px;
	height: 100%;
}

.lunbao_top_center>ul>li>a:hover {
	color: #8f1d78;
}

/* 右侧图片 */
.lunbao_top>.lunbao_top_right {
	height: 44px;
	position: absolute;
	right: 0px;
	top: -22px;
}

/* 轮播图片 */
.lunbao_img {
	width: 100%;
	height: 456px;
	z-index: 0;
	position: absolute;
	top: 196px;
}

.lunbao_img .box {
	width: 1200px;
	height: 456px;
	margin: 0 auto;
	position: relative;
}

.lunbao_img .box ul {
	position: absolute;
	left: -360px;
}

.lunbao_img a {
	display: block;
	width: 1920px;
	height: 456px;
}

.lunbao_img a img {
	width: 1920px;
	height: 456px;
}

/* 右侧固定框 */
.right-index {
	width: 35px;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1200;
}

.right-index>.index_daohang {
	width: 35px;
	height: 100%;
}

.index_daohang>ul {
	width: 35px;
	height: 270px;
	position: absolute;
	top: 50%;
	margin-top: -200px;
}

.index_daohang>ul>.l1>a {
	display: block;
	width: 35px;
	height: 60px;
	color: #333;
	background: url(./content/images/index/index11_07.png) no-repeat center center;
}

.index_daohang .y_gun {
	border: 1px solid #3E3A39;
	display: block;
	width: 35px;
	margin-bottom: 5px;
}

.index_daohang .l2 a {
	width: 35px;
	height: 65px;
	display: block;
	background: url(./content/images/index/index14_15.png) no-repeat center 10px;
	padding-top: 40px;
}

.index_daohang .l2 a span {
	width: 12px;
	display: block;
	color: #fff;
	padding-left: 13px;
}

.index_daohang .l3 a {
	width: 35px;
	height: 60px;
	display: block;
	background: url(./content/images/index/index14_13_13.png) no-repeat center 14px;
}

.index_daohang .l4 a {
	width: 35px;
	height: 60px;
	display: block;
	text-align: center;
	color: #fff;
	font-family: "微软雅黑";
	padding-top: 10px;
}

/* 底部的返回顶部框 */
.right-index>.index_dibu>a {
	display: block;
	background: #4A1467 url(./content/images/index/index15_11.png) no-repeat center center;
	width: 35px;
	height: 35px;
	color: #fff;
	line-height: 35px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 500;
}


.content {
	background: #efefef;
	width: 100%;
	position: relative;
}

/* 中部图片样式  - 1F - */
.photo_1f {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	background: #efefef;
	position: relative;
	margin: 0 auto;
	padding-top: 30px;
}

/* 新品推荐 */
.xinpin {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* 这是头部条 */
.xinpin .new {
	padding-top: 30px;
}

.xinpin .new a {
	display: block;
	height: 20px;
	background: url(content/images/index/index9_25.png) no-repeat 0px 0px;
	position: absolute;
	right: 10px;
	top: 35px;
	font-weight: bold;
	color: #666666;
	line-height: 15px;
	padding-left: 23px;
}

/* 这是下部图片 */
.xinpin_photo {
	width: 100%;
	background: #fff;
	overflow: hidden;
	padding: 20px 0px;
	display: flex;
}

/* 统一样式 */
/* 上部图片 */
.xinpin_photo .one_photo {
	width: 175px;
	border-right: 1px solid #efefef;
	padding: 0px 20px;
}

.xinpin_photo .one_photo li:first-child {
	width: 100%;
	display: block;
}

.xinpin_photo .one_photo li:first-child a {
	width: 100%;
	display: block;
}

.xinpin_photo .one_photo li:first-child a img {
	width: 175px;
	height: 175px;
	margin-bottom: 10px;
	transition: all 0.2s linear;
	/*过渡属性*/

}

/* 下部文字 */
.xinpin_photo .one_photo li:nth-child(2) a {
	width: 100%;
	display: block;
	height: 36px;
	line-height: 18px;
	overflow: hidden;
}

.xinpin_photo .one_photo li:nth-child(2) a:hover {
	color: #8f1d78;
}

.xinpin_photo .one_photo li:last-child {
	color: #adadad;
}

.xinpin_photo .one_photo li:last-child p:last-child {
	color: #adadad;
}

/* 右侧Y轴图片 */
.xinpin_photo ul:last-child li {
	padding-top: 5px;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
}

.xinpin_photo ul:last-child li a img {
	display: block;
	width: 100px;
	height: 40px;
	transition: all 0.2s linear;
}

/* 发现好货样式 */
.index_floor3 {
	width: 1200px;
	padding-top: 30px;
	margin: 0 auto;
}

/* 发现好货头部图片样式 */
.index_floor3 .index_floor3_a a {
	color: #333;
}

.index_floor3 .index_floor3_a a img {
	display: inline;
}

/* 发现好货下部图片 */
.index_floor3 .index_floor3_b {
	width: 100%;
	height: 376px;
	overflow: hidden;
	padding-top: 7px;
	display: flex;
}

/* 左侧图片 */
.index_floor3 .index_floor3_b .index_floor3_b_left {
	width: 342px;
	height: 376px;
	margin-right: 10px;
	overflow: hidden;
}

/* 悬停效果 */
.index_floor3 .index_floor3_b .index_floor3_b_left a:hover {
	color: #8F1D78;
}

/* 悬停倾斜光线 */
.index_floor3 .index_floor3_b .index_floor3_b_left a:hover::before {
	transition: left 1s;
	left: 420px;
}

.index_floor3 .index_floor3_b .index_floor3_b_left a:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 300px;
	top: 800px;
	left: -150px;
	transform: skew(-45deg);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
}

/* 右侧图片 */
.index_floor3 .index_floor3_b .index_floor3_b_right {
	width: 848px;
	background: #fff;
	height: 376px;
	display: flex;
	flex-wrap: wrap;
}

/* 弹性布局 */
.index_floor3 .index_floor3_b .index_floor3_b_right .one {
	width: 423px;
	height: 187px;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.index_floor3 .index_floor3_b .index_floor3_b_right .two {
	width: 423px;
	height: 187px;
	border-bottom: 1px solid #efefef;
}

.index_floor3 .index_floor3_b .index_floor3_b_right .three,
.index_floor3 .index_floor3_b .index_floor3_b_right .four,
.index_floor3 .index_floor3_b .index_floor3_b_right .five,
.index_floor3 .index_floor3_b .index_floor3_b_right .six {
	width: 211px;
	height: 167px;
	border-right: 1px solid #efefef;
}

/* 中间水果图  */
.tiaofu {
	width: 1200px;
	margin: 0 auto;
}

.tiaofu a {
	width: 100%;
}

.tiaofu a img {
	padding-top: 20px;
}

/*  4F 特色市场 */
.index_floor4 {
	width: 1200px;
	padding-top: 30px;
	margin: 0 auto;
}

.index_floor4 .title_1 {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	overflow: hidden;
}

.index_floor4 .footer_1 {
	width: 100%;
	height: 400px;
	overflow: hidden;
	display: flex;
}

.index_floor4 .footer_1 .a1 {
	display: block;
}

.index_floor4 .footer_1 .floor_a {
	width: 480px;
	display: flex;
	flex-wrap: wrap;
}

.footer_1 .floor_a a {
	display: block;
	width: 240px;
	height: 200px;
}

.footer_1 .floor_a img {
	display: block;
	width: 100%;
	height: 200px;
}

.footer_1 .floor_a {
	width: 240px;
}

.footer_1 .floor_a img {
	width: 100%;
	display: block;
}

.index_floor4 .footer_1 .floor_b img {
	width: 100%;
	display: block;
}

/* 5F 数码馆 */
/* 6F 美妆馆 */
.index_floor5 {
	width: 100%;
	background: #efefef;
	overflow: hidden;
	padding-top: 30px;
}

/* 头 */
.index_floor5 .title_a {
	width: 1200px;
	margin: 0 auto;
}

.index_floor5 .footer_a {
	width: 1200;
	height: 396px;
	overflow: hidden;
	display: flex;
	margin: 0 auto;
}

/* 下左 */
.footer_a .sm_left {
	width: 220px;
	padding: 12px 15px;
	padding-right: 5px;
	overflow: hidden;
	background: #fff;
}

.footer_a .sm_left ul {
	display: flex;
	flex-wrap: wrap;
}

.footer_a .sm_left li {
	display: block;
	margin-bottom: 8px;
	margin-right: 8px;
}

.footer_a .sm_left li a {
	display: block;
	text-align: center;
	height: 28px;
	width: 63px;
	border: 1px solid #eeeeee;
	color: #727171;
	line-height: 28px;
}

.footer_a .sm_left .photo:hover::before {
	transition: left 1s;
	left: 200px;
}

.footer_a .sm_left .photo:before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 80px;
	height: 270px;
	overflow: hidden;
	transform: skew(-25deg);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
}

/* 下中 */

.footer_a .sm_center {
	margin-left: 10px;
}

.footer_a {
	position: relative;
}

.footer_a .sm_center a:hover::before {
	transition: left 1s;
	left: 660px;
}

.footer_a .sm_center a:before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 180px;
	width: 80px;
	height: 396px;
	overflow: hidden;
	transform: skewX(-25deg);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
}

/* 下右 */
.footer_a .sm_right {
	width: 546px;
	height: 396px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
}

.footer_a .sm_right .content_a {
	width: 242px;
	height: 137px;
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	padding: 30px 15px;
	display: flex;
}

.footer_a .sm_right .content_b {
	width: 242px;
	height: 137px;
	border-bottom: 1px solid #efefef;
	padding: 30px 15px;
	display: flex;
}

.footer_a .sm_right .content_c {
	width: 242px;
	height: 137px;
	border-right: 1px solid #efefef;
	padding: 30px 15px;
	display: flex;
}

.footer_a .sm_right .content_d {
	width: 242px;
	height: 137px;
	padding: 30px 15px;
	display: flex;
}

/* 品牌条幅 */
.pinpai {
	width: 1200px;
	height: 40px;
	background: #fff;
	overflow: hidden;
	padding: 20px 0px;
	margin: 0 auto;
	margin-top: 10px;
}

.pinpai ul {
	width: 1200px;
	height: 40px;
	display: flex;
	margin: 0 auto;
}

.pinpai ul li {
	width: 119px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	display: block;
	border-right: 1px dashed #9FA0A0;
}

.pinpai ul li:last-child {
	border-right: 0;
}

.pinpai ul a {
	display: block;
	width: 100px;
	height: 40px;
	margin: 0 auto;
}

.pinpai ul a img {
	display: block;
	width: 100px;
	height: 40px;
}


/* 8F */
.index_floor8 {
	width: 100%;
	height: 456px;
	background: #efefef;
	overflow: hidden;
	padding-bottom: 38px;
}

.index_floor8 .index_floor8_content {
	width: 1200px;
	height: 456px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.index_floor8_content .left,
.index_floor8_content .left_2,
.index_floor8_content .right,
.index_floor8_content .right_2 {
	width: 292px;
	height: 426px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	border-top: 1px solid #ffac13;
}


/* 9F  尾部 */
.bottom {
	width: 100%;
	height: 400px;
	background: #fff;
}

/* 头 */
.bottom .top {
	width: 1200px;
	margin: 0 auto;
}

.bottom .top>ul {
	width: 1140px;
	height: 70px;
	padding: 30px;
	display: flex;
	justify-content: center;
}

.bottom .top>ul>li {
	width: 285px;
	height: 70px;
	text-align: center;
}

/* 中间 */
.bottom .center {
	width: 1200px;
	height: 160px;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
}

/* 中间左 */
.bottom .center .center_left {
	width: 960px;
	height: 160px;
	border-right: 1px solid #f5f5f5;
	display: flex;
}

.bottom .center ul {
	width: 16.6%;
}

.bottom .center ul a {
	color: #898989;
	line-height: 28px;
}

.bottom .center ul a:hover {
	color: #8f1d78;
}

.bottom .center ul a b {
	color: #898989;
}

/* 中间右 */
.bottom .center .center_right {
	width: 239px;
}

.bottom .center .center_right>ul {
	width: 100%;
}

.bottom .center .center_right ul li {
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}

.bottom .center .center_right ul li:nth-child(2) {
	font-size: 22px;
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	color: #8f1d78;
	font-family: 'Arial';
}

.bottom .center .center_right ul li:nth-child(3) {
	height: 28px;
	line-height: 28px;
	color: #898989;
}

.bottom .center .center_right ul li a {
	border: 1px solid #8F1D78;
	margin: 0 auto;
	margin-top: 12px;
	color: #8F1D78;
	background: url(content/images/index/index6_141.png) no-repeat 0 9px;
	display: block;
	width: 125px;
	height: 30px;
	line-height: 30px;
}

/* 下 */
.bottom .index_bottom {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 45px;
}

.bottom .index_bottom::after {
	content: "";
	display: block;
	clear: both;
}

/* 下左 */
.bottom .index_bottom .bottom_left {
	width: 70px;
	float: left;
}

.bottom .index_bottom .bottom_left b {
	color: #898989;
}

.bottom .index_bottom .bottom_right {
	width: 1120px;
	float: right;
}

.bottom .index_bottom .bottom_right ul {
	display: flex;
	flex-wrap: wrap;
}

.bottom .index_bottom .bottom_right ul li {
	margin-left: 10px;
}

.bottom .index_bottom .bottom_right a {
	color: #898989;
}

/* 末尾 */
.footer {
	width: 100%;
	height: 100px;
	background: #333333;
}

.footer .content {
	width: 1200px;
	height: 52px;
	margin: 0 auto;
	padding: 24px 0;
	background: #333333;
}

.footer .content::after {
	content: "";
}

.footer .content .content_left {
	width: 900px;
	padding-top: 8px;
	float: left;
}

.footer .content .content_left a {
	color: #fff;
	display: block;
	float: left;
	height: 14px;
	line-height: 14px;
}

.footer .content .content_left a span {
	border-right: 1px solid #fff;
	display: block;
	float: left;
	height: 14px;
	margin-left: 5px;
	margin-right: 5px;
}

.footer .content .content_left .clear {
	clear: both;
	height: 0;
}

.footer .content .content_left p {
	color: #6b6b6b;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding-top: 5px;
}

.footer .content .content_right {
	width: 300px;
	float: right;
}

.footer .content .content_right::after {
	content: "";
}

.footer .content .content_right p {
	width: 300px;
	color: #6b6b6b;
	text-align: right;
	padding-top: 32px;

}